<div id="<%= dom_id item %>">
  <p>
    <strong>List:</strong>
    <%= item.list_id %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= item.content %>
  </p>

  <p>
    <strong>Done:</strong>
    <%= item.done %>
  </p>

</div>
